body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
    background-color: black;
}

header {
    background: linear-gradient(135deg, #0073b1, #007c82);
    color: white;
    padding: 40px;
    text-align: center;
}

section, main {
    padding: 20px 60px;
}

h2 {
    color: teal;
}

main h3 {
    margin-top: 20px;
}

footer {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}